/* .main{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 10%;
    gap: 2rem;
}

.main1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 5%;
}

form{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: left;
}

input{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1em;
    border: 2px solid black;
    border-radius: 100px;
    width: 20%;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid black;
    width: 7%;
    color: black;
    background-color: white;
}

button:hover{
    color: white;
    background-color: black;
} */